<h3>My Team List</h3>

<form (ngSubmit)="createTeam()" #createForm="ngForm" class="input-group input-group-lg">
    <input type="text" class="form-control" placeholder="Create New Team" [(ngModel)]="model" name="newTeam" />
    <div class="btn btn-primary icon-camera input-group-addon" (click)="createTeam()">
        <span class="glyphicon glyphicon-plus"></span>
    </div>
</form>

<table class="table">
    <tbody>
        <tr *ngFor="let item of teams">
            <td class="padding-top-15"> <a>{{item.name}}</a> </td>
            <td width="50">
                <div class="btn btn-danger icon-camera" (click)="deleteTodo(item)">
                    <span class="glyphicon glyphicon-remove-sign"></span>
                </div>
            </td>
            <td width="50">
                <div class="btn btn-success icon-camera" data-toggle="modal" data-target="#myModal" (click)="this.teamName = item.name">
                    <span class="glyphicon glyphicon-plus"></span>
                </div>
            </td>
            <table class="table">
                <tbody>
                    <tr *ngFor="let player of item.teamsRelation">
                        <td class="padding-top-15"> <a> {{player.tracerPlayer.summoner.name}} </a></td>
                        <td width="50">
                            <div class="btn btn-danger icon-camera" (click)="deleteTodo(item)">
                                <span class="glyphicon glyphicon-remove-sign"></span>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </tr>
    </tbody>
</table>



<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    ×</button>
                <h4 class="modal-title" id="myModalLabel">
                    Add player</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                        <!-- Tab panes -->
                        <div class="tab-content">
                            <div class="tab-pane active" id="AddSummoner">
                                <div>
                                    <label for="summonerName" class="col-sm-2 control-label">
                                        Summoner name</label>
                                    <div class="col-sm-7">
                                        <input type="" class="form-control"  [(ngModel)]="summonerName" id="summonerName" placeholder="Summoner name" />
                                    </div>
                                </div>
                                <div>
                                    <div class="col-sm-5 col-sm-offset-2">
                                        <select class="form-control" id="sel1" [(ngModel)]="teamName"> <option *ngFor="let item of teams"> {{item.name}} </select>
                                    </div>
                                  <!--  <button class="btn btn-primary"> Add team </button> -->
                                </div>
                               <!-- <div class="row">
                                    <label for="exampleTeam" class="col-sm-2 control-label">
                                        Teams</label>
                                </div> -->
                                <div class="row">
                                    <div class="col-sm-2">
                                    </div>
                                    <div class="col-sm-10">
                                        <button class="btn btn-primary btn-sm col-sm-offset-5" data-dismiss="modal" (click)="addSummoner()">
                                            ADD</button>
                                    </div>
                                </div>
                            </div>
                </div>
            </div>
        </div>
    </div>
</div>


