<h3>Register</h3>

<p>
    To try out this application, please create an account. To register, provide an Email Address and Password. This is a demo application, no emails are sent.  Email format is validated as part of the demo.
</p>

<form (ngSubmit)="register()" #registerForm="ngForm">
    <div class="col-md-4 col-md-offset-4">
        <div class="row"><input class="form-control margin-top-5" type="text" [(ngModel)]="model.email" name="email" placeholder="Email" /></div>
        <div class="row"><input class="form-control margin-top-5" type="password" [(ngModel)]="model.password" name="password" placeholder="Password" /></div>
        <div class="row"><input class="form-control margin-top-5" type="password" [(ngModel)]="model.confirmPassword" name="confirmPassword" placeholder="Confirm Password" /></div>
        <div class="row"><input class="btn btn-primary margin-top-5 width-100p" type="submit" value="Register" /></div>
    </div>
</form>

<div class="col-md-4 col-md-offset-4 margin-top-5 {{error == false ? 'alert alert-success' : ''}} {{error == true ? 'alert alert-danger' : ''}}">{{message}}</div>